header {
    background: #bbbbbb;
    padding: 20px 0; /* a imagem do menu estava colado na cor de fundo em cima e em baixo, para ter um espaçamento então inseri 20px que ficou um espaço entre a imagem e a cor cinza em cima  e em baixo do backgrond e o zero ficou 0px para os lados*/
 
 }
 
 .caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
 
 }
 
   /*Alterando o tamanho da imagem do cabeçalho*/
 .tamanho {
    width:  120px;
    height: 150px;
 
 }
 
 nav {
   position: absolute;
   top: 50px;
   right: 0%;
 
 }
 
 nav li {
    display: inline;
    margin: 0 0 0 15px;
 
 }
 
 nav a {
   text-transform: uppercase;
   font-size: 25px;
   color: #000000;
   font-weight: bold;
   text-decoration: none;
 }
 
 nav a:hover {
    color: #c78c19; /*aqui estou mudando o comportamento do elemento quando o mause passa por cima.*/
    text-decoration: underline; /*o texto vai ficar sublinhado quando o cursor passar por cima*/
 
 }
#imgcs {
    width: 100%;

}

.principal {
    background: #cccccc;
    padding: 30px;

}


p {
    text-align: center;
    font-size: 20px;
}

.titulo-centralizado  {
    text-align: center;
    font-size: 26px;
    
}

#missao {
   font-size: 20px; 

}

/* No html tem 2 strong, um esta dentro do <em> então inseri o <em> para que somente o strong dentro do <em> fique com a cor alterada */
em strong {
    color:cornflowerblue;

}

  /* Quando criamos uma classe no html então começamos ela aqui no CSS com um ponto (.). */
.itens {
    font-style: italic;
    
}

.vantagens {
    background: #ffffff;
    padding: 20px;
    font-size: 20px;

}


ul {
  display:inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
  font-size: 20px;
  
}

.imagemvantagem2 {
     width: 50%;
    
}

.graficos-cs {
    background: #b7d5e5;

}

#graficos {
    display:inline-block;
    width: 680px;
    height: 400px;
    margin-left: 40px;
    padding: 20px 0;
}
 

